@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    color: #aeb8fe;
}

body {
    background-color: #27187e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Panchang", sans-serif;
}

p,
.nav-item {
    font-family: "Satoshi", sans-serif;
}

.nav-item {
    color: #ff8600;
    font-size: 26px;
    font-weight: 400;
}
